In [1]:
import pandas as pd

In [295]:
p_s18=pd.read_excel("new_police_spending/StatewideMuniAfr550.xls")
p_s17=pd.read_excel("new_police_spending/StatewideMuniAfr2017.xls")
p_s16=pd.read_excel("new_police_spending/StatewideMuniAfr2016.xls")
p_s15=pd.read_excel("new_police_spending/StatewideMuniAfr2015.xls")
p_s14=pd.read_excel("new_police_spending/StatewideMuniAfr2014.xls")
p_s13=pd.read_excel("new_police_spending/StatewideMuniAfr2013.xls")
p_s12=pd.read_excel("new_police_spending/StatewideMuniAfr2012.xls")
p_s11=pd.read_excel("new_police_spending/StatewideMuniAfr2011.xls")
p_s10=pd.read_excel("new_police_spending/StatewideMuniAfr2010.xls")
p_s09=pd.read_excel("new_police_spending/StatewideMuniAfr2009.xls")
p_s08=pd.read_excel("new_police_spending/StatewideMuniAfr2008.xls")

WARNING *** file size (1474496) not 512 + multiple of sector size (512)
WARNING *** file size (1490880) not 512 + multiple of sector size (512)
WARNING *** file size (1499072) not 512 + multiple of sector size (512)
WARNING *** file size (1499072) not 512 + multiple of sector size (512)
WARNING *** file size (1507264) not 512 + multiple of sector size (512)
WARNING *** file size (1507264) not 512 + multiple of sector size (512)
WARNING *** file size (1507264) not 512 + multiple of sector size (512)
WARNING *** file size (1499072) not 512 + multiple of sector size (512)
WARNING *** file size (1499072) not 512 + multiple of sector size (512)
WARNING *** file size (1499072) not 512 + multiple of sector size (512)
WARNING *** file size (1499072) not 512 + multiple of sector size (512)

In [296]:
main_spending1=pd.concat([p_s08,p_s09,p_s10,p_s11,p_s12,p_s13,p_s14,p_s15,p_s16,p_s17,p_s18],sort=False)

In [298]:
main_spending1.columns=main_spending1.columns.str.replace(" ",'_').str.replace("/\n","_",regex=True).str.replace("-",'_',regex=False).str.replace("/",'_',regex=False).str.lower()

In [308]:
main_spending1[main_spending1.municipality_name.str.contains("NEW PH")]

,municipality_name,municipality_type,municipality_id,county_name,reporting_year,pending_approved,total_revenues,total_expenditures,revenues_over_expenditures,revenues,...,taxes_per_capita,revenues_per_capita,expenditures_per_capita,total_general_obligation_bonds_and_notes,total_revenue_bonds_and_notes,total_lease_rental_debt,total_other_debt,total_debt,total_principal_paid,fund_balance_retained_earnings_12_31
2011,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2008,A,365469,464071,-98602,NaN,...,161.48,318.08,403.89,11500,0,0,0,11500,0.0,202464
2006,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2009,A,335791,334412,1379,NaN,...,167.68,292.25,291.05,9291,0,0,0,9291,2209.0,203843
2013,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2010,A,382759,448818,-66059,NaN,...,186.05,352.77,413.66,0,0,0,0,0,9291.0,137784
2017,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2011,A,394925,392682,2243,NaN,...,195.92,363.99,361.92,0,0,0,27867,27867,2256.0,140027
2017,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2012,A,365574,423987,-58413,NaN,...,199.54,336.93,390.77,0,0,0,22274,22274,5593.0,81614
2021,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2013,A,460761,462851,-2090,NaN,...,251.03,424.66,426.59,0,0,0,45197,45197,6077.0,79524

In [302]:
main_spending1.to_csv("main_spending1.csv",index=None)

In [36]:
main_spending1.sort_values(by=['county_name','reporting_year'],ascending=True)

,municipality_name,municipality_type,municipality_id,county_name,reporting_year,pending_approved,total_revenues,total_expenditures,revenues_over_expenditures,revenues,...,taxes_per_capita,revenues_per_capita,expenditures_per_capita,total_general_obligation_bonds_and_notes,total_revenue_bonds_and_notes,total_lease_rental_debt,total_other_debt,total_debt,total_principal_paid,fund_balance_retained_earnings_12_31
0,ABBOTTSTOWN BORO,Borough,10033,ADAMS,2008,A,275657,270953,4704,NaN,...,196.29,304.59,299.40,0,0,0,0,0,NaN,521569
1,ARENDTSVILLE BORO,Borough,10063,ADAMS,2008,A,528516,412998,115518,NaN,...,194.35,623.25,487.03,0,0,0,0,0,NaN,651645
2,BENDERSVILLE BORO,Borough,10093,ADAMS,2008,A,312414,310472,1942,NaN,...,176.65,542.39,539.01,297138,72004,0,0,369142,27385.0,55838
3,BERWICK TWP,Second Class Township,10125,ADAMS,2008,A,1231159,927421,303738,NaN,...,328.12,677.21,510.13,22000,0,0,1019643,1041643,89388.0,2336591
4,BIGLERVILLE BORO,Borough,10153,ADAMS,2008,A,1133868,765889,367979,NaN,...,235.21,1029.85,695.63,0,0,975812,0,975812,19183.0,1515436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2473,WINTERSTOWN BORO,Borough,671983,YORK,2018,A,178738,167537,11201,NaN,...,205.53,282.81,265.09,0,0,0,0,0,NaN,288331
2474,WRIGHTSVILLE BORO,Borough,672013,YORK,2018,A,1326337,1364620,-38283,NaN,...,368.38,574.17,590.74,0,0,36084,59883,95967,34260.0,409321
2475,YOE BORO,Borough,672043,YORK,2018,A,526678,527298,-620,NaN,...,239.11,517.37,517.97,99838,0,0,0,99838,10162.0,330314
2476,YORK HAVEN BORO,Borough,672103,YORK,2018,A,275718,268860,6858,NaN,...,222.43,388.88,379.21,0,0,0,0,0,NaN,105926
2477,YORK TWP,First Class Township,672134,YORK,2018,A,22979976,19961662,3018314,NaN,...,368.43,826.83,718.23,0,0,0,0,0,NaN,71608240

In [37]:
main_spending1.columns

Index(['municipality_name', 'municipality_type', 'municipality_id',
       'county_name', 'reporting_year', 'pending_approved', 'total_revenues',
       'total_expenditures', 'revenues_over_expenditures', 'revenues',
       'total_taxes_revenues', 'real_estate_tax_revenues',
       'earned_income_tax_revenues', 'realty_transfer_tax_revenues',
       'local_services_tax_revenues', 'per_capita_tax_revenues',
       'occupational_tax_revenues', 'business_gross_receipts_tax_revenues',
       'amusement_and_admissions_tax_revenues',
       'mechanical_device_tax_revenues', 'all_other_taxes_revenues',
       'intergovernmental_revenues_federal_government',
       'intergovernmental_revenues_state_government',
       'intergovernmental_revenues_local_government', 'sewer_revenues',
       'water_revenues', 'solid_waste_revenues', 'electric_system_revenues',
       'gas_system_revenues', 'parking_revenues',
       'culture_and_recreation_revenues',
       'other_charges_for_services_revenues', 'licenses_and_permits_revenues',
       'cable_tv_franchise_fees_revenues', 'fines_and_forfeits_revenues',
       'interest_rents_and_royalties_revenues',
       'contributions_and_donations_from_private_sectors_revenues',
       'unclassified_operating_revenues', 'other_financing_sources_revenues',
       'expenditures', 'general_government_expenditures',
       'police_expenditures', 'fire_expenditures',
       'ucc_and_code_enforcement_expenditures',
       'other_public_safety_expenditures',
       'health_and_human_services_expenditures',
       'public_works_highways_and_streets_expenditures', 'sewer_expenditures',
       'water_expenditures', 'solid_waste_expenditures',
       'electrical_system_expenditures', 'gas_system_expenditures',
       'other_public_works_expenditures',
       'culture_and_recreation_expenditures', 'libraries_expenditures',
       'community_development_expenditures', 'debt_service_expenditures',
       'other_expenditures', 'unclassified_operating_expenditures',
       'other_financing_uses_expenditures', 'population', 'taxes_per_capita',
       'revenues_per_capita', 'expenditures_per_capita',
       'total_general_obligation_bonds_and_notes',
       'total_revenue_bonds_and_notes', 'total_lease_rental_debt',
       'total_other_debt', 'total_debt', 'total_principal_paid',
       'fund_balance_retained_earnings_12_31'],
      dtype='object')

In [303]:
po_spending1=main_spending1[['municipality_id','reporting_year','police_expenditures']]

In [314]:
main_spending1[main_spending1.municipality_id==541023]

,municipality_name,municipality_type,municipality_id,county_name,reporting_year,pending_approved,total_revenues,total_expenditures,revenues_over_expenditures,revenues,...,taxes_per_capita,revenues_per_capita,expenditures_per_capita,total_general_obligation_bonds_and_notes,total_revenue_bonds_and_notes,total_lease_rental_debt,total_other_debt,total_debt,total_principal_paid,fund_balance_retained_earnings_12_31
2011,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2008,A,365469,464071,-98602,NaN,...,161.48,318.08,403.89,11500,0,0,0,11500,0.0,202464
2006,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2009,A,335791,334412,1379,NaN,...,167.68,292.25,291.05,9291,0,0,0,9291,2209.0,203843
2013,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2010,A,382759,448818,-66059,NaN,...,186.05,352.77,413.66,0,0,0,0,0,9291.0,137784
2017,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2011,A,394925,392682,2243,NaN,...,195.92,363.99,361.92,0,0,0,27867,27867,2256.0,140027
2017,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2012,A,365574,423987,-58413,NaN,...,199.54,336.93,390.77,0,0,0,22274,22274,5593.0,81614
2021,NEW PHILADELPHIA BORO,Borough,541023,SCHUYLKILL,2013,A,460761,462851,-2090,NaN,...,251.03,424.66,426.59,0,0,0,45197,45197,6077.0,79524

In [315]:
po_spending1=main_spending1[['municipality_id','reporting_year','police_expenditures']]
fiveyr_po=po_spending1[po_spending1.reporting_year>2013].groupby('municipality_id').police_expenditures.describe().round(2).reset_index().rename(columns={'mean':'av_5yr','50%':'median_5yr','std':'std_5yr','max':'most_5yr'}).drop(columns={'count',"min",'25%','75%'})
tenyr_po=po_spending1.groupby('municipality_id').police_expenditures.describe().round(2).reset_index().rename(columns={'mean':'av_10yr','50%':'median_10yr','std':'std_10yr','max':'most_10yr'}).drop(columns={'count',"min",'25%','75%'})

In [316]:
t_spending1=main_spending1[['municipality_id','reporting_year','total_expenditures']]
fiveyr_t_sp=t_spending1[t_spending1.reporting_year>2013].groupby('municipality_id').total_expenditures.describe().round(2).reset_index().rename(columns={'mean':'av_t_5yr','50%':'median_t_5yr','std':'std_t_5yr','max':'most_t_5yr'}).drop(columns={'count',"min",'25%','75%'})
tenyr_t_sp=t_spending1.groupby('municipality_id').total_expenditures.describe().round(2).reset_index().rename(columns={'mean':'av_t_10yr','50%':'median_t_10yr','std':'std_t_10yr','max':'most_t_10yr'}).drop(columns={'count',"min",'25%','75%'})

In [317]:
tenyr_t_sp[tenyr_t_sp.municipality_id==541023]

      municipality_id  av_t_10yr  std_t_10yr  median_t_10yr  most_t_10yr
2032           541023  421136.83    50375.91       436402.5     464071.0

In [318]:
fiveyr_t_sp[fiveyr_t_sp.municipality_id==541023]

Empty DataFrame
Columns: [municipality_id, av_t_5yr, std_t_5yr, median_t_5yr, most_t_5yr]
Index: []

In [319]:
b1=pd.merge(fiveyr_po,fiveyr_t_sp)
b2=pd.merge(tenyr_t_sp,tenyr_po)
b3=pd.merge(b2,b1,how='left')

In [321]:
b3[b3.municipality_id==541023]

,municipality_id,av_t_10yr,std_t_10yr,median_t_10yr,most_t_10yr,av_10yr,std_10yr,median_10yr,most_10yr,av_5yr,std_5yr,median_5yr,most_5yr,av_t_5yr,std_t_5yr,median_t_5yr,most_t_5yr
2032,541023,421136.83,50375.91,436402.5,464071.0,81700.0,19456.75,74759.5,115220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [323]:
b3['po_pct_t']=(b3.av_5yr/b3.av_t_5yr).round(3)

In [95]:
b1.sort_values(by='po_pct_t',ascending=False,inplace=True)

In [93]:
m1=main_spending1[['municipality_name','municipality_id','county_name']]

In [116]:
m2=m1[~m1.municipality_id.duplicated()]

In [223]:
t_and_po=pd.merge(b3,m1,on='municipality_id')#.to_csv("total_and_po_average_spending.csv",index=None)

In [122]:
pd.merge(b3,m2,on='municipality_id').to_csv("total_and_po_average_spending.csv",index=None)

In [124]:
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [125]:
map1=gpd.read_file("new_police_spending/Pennsylvania Municipality Boundaries/geo_export_926f08cf-9d5e-41ea-9ea6-b1c3b0b313c5.shp")

In [127]:
map1.columns

Index(['ansi_code', 'area', 'class_of_m', 'county', 'county_nam', 'date_date_',
       'time_date_', 'dced_id', 'district_n', 'fed_aid_ur', 'fed_id_num',
       'fips_area', 'fips_code', 'fips_count', 'fips_mun_c', 'fips_mun_p',
       'fips_name', 'fips_sq_mi', 'fips_state', 'gnis_ppl', 'len', 'municipal',
       'municipal1', 'planning_p', 'shape_area', 'shape_leng', 'geometry'],
      dtype='object')

In [141]:
map1.dced_id.astype(int).shape

(2570,)

In [145]:
map1['id1']=map1.dced_id.astype(int)

In [159]:
map1['class_type']=map1.class_of_m.str.replace("1TWP|2TWP","TWP")

In [162]:
map1["muni_name"]=map1.municipal1+" "+map1.class_type

In [273]:
map1

,ansi_code,area,class_of_m,county,county_nam,date_date_,time_date_,dced_id,district_n,fed_aid_ur,...,municipal,municipal1,planning_p,shape_area,shape_leng,geometry,id1,class_type,muni_name,id2
0,1216395,0.0,1TWP,23,DELAWARE,2018-03-09,00:00:00.000,231384,06,4,...,110,UPPER CHICHESTER,DVRPC,1.738379e+07,19359.876845,"POLYGON ((-75.46868 39.85998, -75.45524 39.865...",231384,TWP,UPPER CHICHESTER TWP,231384-DELAWARE
1,1215171,0.0,BORO,22,DAUPHIN,2018-03-09,00:00:00.000,220933,08,4,...,414,STEELTON,Harrisburg,4.834146e+06,17731.048774,"POLYGON ((-76.80672 40.21075, -76.80736 40.210...",220933,BORO,STEELTON BORO,220933-DAUPHIN
2,1215831,0.0,1TWP,02,ALLEGHENY,2018-03-09,00:00:00.000,023094,11,4,...,119,SOUTH FAYETTE,SPC,5.258609e+07,37033.358255,"POLYGON ((-80.12309 40.31463, -80.14586 40.320...",23094,TWP,SOUTH FAYETTE TWP,23094-ALLEGHENY
3,1214792,0.0,BORO,02,ALLEGHENY,2018-03-09,00:00:00.000,021053,11,4,...,427,EDGEWORTH,SPC,4.303504e+06,8661.989939,"POLYGON ((-80.18176 40.54850, -80.19495 40.540...",21053,BORO,EDGEWORTH BORO,21053-ALLEGHENY
4,1217052,0.0,2TWP,55,SOMERSET,2018-03-09,00:00:00.000,560695,09,1,...,211,LARIMER,Southern Alleghenies,4.373849e+07,58382.141438,"MULTIPOLYGON (((-78.93988 39.81667, -78.93994 ...",560695,TWP,LARIMER TWP,560695-SOMERSET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2565,1217152,0.0,2TWP,60,VENANGO,1899-11-30,00:00:00.000,610695,01,1,...,215,PRESIDENT,Northwest,1.004860e+08,54808.688951,"POLYGON ((-79.64122 41.43864, -79.64045 41.439...",610695,TWP,PRESIDENT TWP,610695-VENANGO
2566,1215356,0.0,CITY,37,LAWRENCE,1899-11-30,00:00:00.000,370302,11,2,...,301,NEW CASTLE,SPC,2.196286e+07,36283.782378,"POLYGON ((-80.38424 40.97077, -80.38352 40.971...",370302,CITY,NEW CASTLE CITY,370302-LAWRENCE
2567,1217100,0.0,2TWP,58,TIOGA,1899-11-30,00:00:00.000,590095,03,1,...,202,BROOKFIELD,Northern Tier,8.220966e+07,39781.582628,"POLYGON ((-77.47636 42.00015, -77.47371 41.944...",590095,TWP,BROOKFIELD TWP,590095-TIOGA
2568,1216850,0.0,1TWP,46,MONTGOMERY,1899-11-30,00:00:00.000,460034,06,4,...,101,ABINGTON,DVRPC,4.019082e+07,34114.230740,"POLYGON ((-75.09761 40.06957, -75.09857 40.070...",460034,TWP,ABINGTON TWP,460034-MONTGOMERY
2569,1216187,0.0,2TWP,15,CHESTER,1899-11-30,00:00:00.000,151775,06,4,...,244,WEST BRANDYWINE,DVRPC,3.411350e+07,29355.530580,"POLYGON ((-75.82085 40.00478, -75.82509 40.005...",151775,TWP,WEST BRANDYWINE TWP,151775-CHESTER

In [278]:
map2=map1[['dced_id','county_nam','geometry','municipal1']]

In [279]:
map2['dced_id']=map2.dced_id.astype(int)

/Users/ulleryc/data-projects/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [327]:
pd.merge(map2,b3,left_on='dced_id',right_on='municipality_id',how='left').to_file("testmap1.rar")

In [325]:
map2[~map2.dced_id.isin(b3.municipality_id)]

,dced_id,county_nam,geometry,municipal1
147,540753,SCHUYLKILL,"POLYGON ((-76.12154 40.61999, -76.12298 40.621...",LANDINGVILLE
496,230664,DELAWARE,"POLYGON ((-75.45462 39.82091, -75.44562 39.823...",LOWER CHICHESTER
505,190813,COLUMBIA,"POLYGON ((-76.41554 41.08155, -76.41473 41.082...",ORANGEVILLE
695,380125,LEBANON,"POLYGON ((-76.64436 40.45947, -76.64511 40.459...",COLD SPRING
795,560033,SOMERSET,"POLYGON ((-79.33018 39.73789, -79.33252 39.740...",ADDISON
1680,440273,MIFFLIN,"POLYGON ((-77.86832 40.37592, -77.86897 40.376...",KISTLER
1793,390304,LEHIGH,"POLYGON ((-75.58984 40.48466, -75.59881 40.490...",LOWER MACUNGIE
2121,320275,INDIANA,"POLYGON ((-78.99427 40.82098, -78.99371 40.836...",CANOE
2122,50783,BEDFORD,"POLYGON ((-78.61163 40.17721, -78.61206 40.177...",PLEASANTVILLE

In [332]:
b3

,municipality_id,av_t_10yr,std_t_10yr,median_t_10yr,most_t_10yr,av_10yr,std_10yr,median_10yr,most_10yr,av_5yr,std_5yr,median_5yr,most_5yr,av_t_5yr,std_t_5yr,median_t_5yr,most_t_5yr,po_pct_t
0,10033,399862.64,257698.64,272609.0,933711.0,37565.36,52050.14,0.0,108000.0,0.0,0.00,0.0,0.0,517543.0,318029.97,343049.0,933711.0,0.000
1,10063,537575.27,198206.69,448047.0,975678.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,661122.4,242409.67,548280.0,975678.0,0.000
2,10093,187378.82,47512.78,171529.0,310472.0,24186.55,14342.41,21450.0,54576.0,25010.6,12704.95,25658.0,41866.0,187112.0,28104.56,189293.0,219448.0,0.134
3,10125,918799.64,102866.34,927421.0,1113376.0,119095.00,136048.01,9653.0,303989.0,0.0,0.00,0.0,0.0,830134.0,32586.57,832086.0,880341.0,0.000
4,10153,1153917.64,225010.03,1176162.0,1573238.0,140826.73,21809.30,145428.0,171684.0,147466.0,3586.93,146449.0,153576.0,1224065.6,203951.29,1176162.0,1573238.0,0.120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2550,672043,508558.64,136952.94,469501.0,881885.0,76907.55,11712.49,78924.0,91235.0,85584.8,4589.91,84856.0,91235.0,563240.6,180063.12,479350.0,881885.0,0.152
2551,672072,88175323.40,7903848.50,86947582.5,107276990.0,10431878.00,1382342.67,10198811.0,13591534.0,10796199.0,505782.15,10768603.5,11433159.0,88968304.0,2021209.82,89859193.5,90190666.0,0.121
2552,672103,269450.64,23375.51,268860.0,303642.0,44855.09,6416.99,45144.0,54434.0,50357.2,3605.46,50138.0,54434.0,268664.4,14513.63,268697.0,291389.0,0.187
2553,672134,19047907.64,1795756.84,18800029.0,21381710.0,3756853.18,492132.07,3767587.0,4365558.0,4193344.8,177192.83,4269585.0,4365558.0,19744225.0,1134618.57,19961662.0,21381710.0,0.212
2554,672163,41164.50,18401.04,41164.5,54176.0,0.00,0.00,0.0,0.0,0.0,NaN,0.0,0.0,54176.0,NaN,54176.0,54176.0,0.000

In [353]:
(main_spending1[main_spending1.municipality_name.str.startswith("PHILADEL")].set_index('reporting_year').total_expenditures).astype(int)

reporting_year
2008    8608077000
2009    7903325000
2010    7486257950
2011    7241942000
2012    7507667003
2013    7973640000
2014    8023545000
2015    8556757000
2016    8518569000
2017    8859954000
2018    9432522000
Name: total_expenditures, dtype: int64

In [350]:
(656434000/785023918)-1

-0.16380382183463615

In [352]:
(527943000/624502919)-1

-0.15461884334282827

In [ ]:
main_spending1.police_expenditures

In [331]:
b3[b3.av_5yr==0]

,municipality_id,av_t_10yr,std_t_10yr,median_t_10yr,most_t_10yr,av_10yr,std_10yr,median_10yr,most_10yr,av_5yr,std_5yr,median_5yr,most_5yr,av_t_5yr,std_t_5yr,median_t_5yr,most_t_5yr,po_pct_t
0,10033,399862.64,257698.64,272609.0,933711.0,37565.36,52050.14,0.0,108000.0,0.0,0.0,0.0,0.0,517543.0,318029.97,343049.0,933711.0,0.0
1,10063,537575.27,198206.69,448047.0,975678.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,661122.4,242409.67,548280.0,975678.0,0.0
3,10125,918799.64,102866.34,927421.0,1113376.0,119095.00,136048.01,9653.0,303989.0,0.0,0.0,0.0,0.0,830134.0,32586.57,832086.0,880341.0,0.0
7,10215,729092.82,96090.71,708733.0,957924.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,772997.6,121377.07,764426.0,957924.0,0.0
12,10365,1577096.91,475214.35,1533887.0,2887759.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1499142.2,180406.56,1533887.0,1758650.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2532,671503,123339.09,58347.39,94407.0,270790.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,120326.8,43595.51,94407.0,180732.0,0.0
2534,671565,2172727.36,231671.47,2115930.0,2714075.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2281086.4,286974.09,2222229.0,2714075.0,0.0
2540,671745,1181390.00,152803.41,1184605.0,1399576.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1281551.2,84314.53,1276866.0,1399576.0,0.0
2541,671775,653360.27,94163.46,623663.0,827004.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,720033.8,89233.99,741064.0,827004.0,0.0
2554,672163,41164.50,18401.04,41164.5,54176.0,0.00,0.00,0.0,0.0,0.0,NaN,0.0,0.0,54176.0,NaN,54176.0,54176.0,0.0

In [330]:
map1.shape

(2570, 31)

In [242]:
t_and_po['id1']=t_and_po.municipality_id.astype(int).astype(str)+"-"+t_and_po.county_name

In [243]:
t_and_po['id2']=t_and_po.id1.drop_duplicates(keep='first')

In [244]:
t_a_p=t_and_po[t_and_po.id2.notna()]

In [245]:
map1[~map1.id2.isin(t_a_p.id2)]

,ansi_code,area,class_of_m,county,county_nam,date_date_,time_date_,dced_id,district_n,fed_aid_ur,...,municipal,municipal1,planning_p,shape_area,shape_leng,geometry,id1,class_type,muni_name,id2
31,1216987,0.0,2TWP,52,POTTER,2018-03-09,00:00:00.000,530845,02,1,...,222,SYLVANIA,North Central,7.683267e+07,35138.805509,"POLYGON ((-78.06938 41.62378, -78.06889 41.650...",530845,TWP,SYLVANIA TWP,530845-POTTER
130,1215559,0.0,BORO,53,SCHUYLKILL,1899-11-30,00:00:00.000,541023,05,1,...,417,NEW PHILADELPHIA,NEPA,3.949985e+06,9117.794835,"POLYGON ((-76.10892 40.71258, -76.12172 40.709...",541023,BORO,NEW PHILADELPHIA BORO,541023-SCHUYLKILL
147,1215552,0.0,BORO,53,SCHUYLKILL,1899-11-30,00:00:00.000,540753,05,2,...,410,LANDINGVILLE,NEPA,2.163360e+06,7218.997016,"POLYGON ((-76.12154 40.61999, -76.12298 40.621...",540753,BORO,LANDINGVILLE BORO,540753-SCHUYLKILL
160,1216278,0.0,2TWP,19,COLUMBIA,1899-11-30,00:00:00.000,190365,03,2,...,206,CONYNGHAM,SEDA-COG,5.335051e+07,33249.509283,"POLYGON ((-76.41159 40.84294, -76.41017 40.842...",190365,TWP,CONYNGHAM TWP,190365-COLUMBIA
439,1217318,0.0,BORO,02,ALLEGHENY,1899-11-30,00:00:00.000,651683,11,4,...,491,TRAFFORD,SPC,5.467529e+05,7495.932332,"POLYGON ((-79.75094 40.38918, -79.75099 40.388...",651683,BORO,TRAFFORD BORO,651683-ALLEGHENY
465,1215556,0.0,BORO,53,SCHUYLKILL,1899-11-30,00:00:00.000,540903,05,1,...,414,MIDDLEPORT,NEPA,1.127371e+06,4274.510276,"POLYGON ((-76.09182 40.72225, -76.09527 40.730...",540903,BORO,MIDDLEPORT BORO,540903-SCHUYLKILL
496,1216384,0.0,1TWP,23,DELAWARE,1899-11-30,00:00:00.000,230664,06,4,...,104,LOWER CHICHESTER,DVRPC,2.762715e+06,8470.988459,"POLYGON ((-75.45462 39.82091, -75.44562 39.823...",230664,TWP,LOWER CHICHESTER TWP,230664-DELAWARE
505,1215128,0.0,BORO,19,COLUMBIA,1899-11-30,00:00:00.000,190813,03,3,...,408,ORANGEVILLE,SEDA-COG,1.021093e+06,5733.970041,"POLYGON ((-76.41554 41.08155, -76.41473 41.082...",190813,BORO,ORANGEVILLE BORO,190813-COLUMBIA
695,1216672,0.0,2TWP,38,LEBANON,1899-11-30,00:00:00.000,380125,08,1,...,202,COLD SPRING,Lebanon,5.247298e+07,38818.047019,"POLYGON ((-76.64436 40.45947, -76.64511 40.459...",380125,TWP,COLD SPRING TWP,380125-LEBANON
795,1215580,0.0,BORO,55,SOMERSET,1899-11-30,00:00:00.000,560033,09,1,...,401,ADDISON,Southern Alleghenies,1.510062e+06,6928.324735,"POLYGON ((-79.33018 39.73789, -79.33252 39.740...",560033,BORO,ADDISON BORO,560033-SOMERSET
847,1214872,0.0,BORO,04,BEAVER,1899-11-30,00:00:00.000,370093,11,2,...,440,ELLWOOD CITY,SPC,8.371391e+05,7665.063059,"POLYGON ((-80.29823 40.85350, -80.29010 40.853...",370093,BORO,ELLWOOD CITY BORO,370093-BEAVER
870,1214901,0.0,BORO,05,BEDFORD,1899-11-30,00:00:00.000,050753,09,1,...,407,NEW PARIS,Southern Alleghenies,1.510426e+05,2606.730342,"POLYGON ((-78.64596 40.10542, -78.64680 40.105...",50753,BORO,NEW PARIS BORO,50753-BEDFORD
973,1215000,0.0,BORO,10,BUTLER,1899-11-30,00:00:00.000,101293,10,1,...,415,PORTERSVILLE,SPC,2.224425e+06,8676.544030,"POLYGON ((-80.13878 40.92843, -80.13687 40.928...",101293,BORO,PORTERSVILLE BORO,101293-BUTLER
1075,1217324,0.0,BORO,17,CLEARFIELD,1899-11-30,00:00:00.000,330303,02,2,...,430,FALLS CREEK,North Central,8.224046e+04,1324.146334,"POLYGON ((-78.79947 41.14134, -78.79720 41.145...",330303,BORO,FALLS CREEK BORO,330303-CLEARFIELD
1186,1217317,0.0,BORO,02,ALLEGHENY,1899-11-30,00:00:00.000,631143,11,4,...,490,MCDONALD,SPC,5.091638e+05,4434.188042,"POLYGON ((-80.22282 40.37263, -80.22010 40.368...",631143,BORO,MCDONALD BORO,631143-ALLEGHENY
1474,1214850,0.0,BORO,03,ARMSTRONG,1899-11-30,00:00:00.000,030423,10,2,...,407,FORD CLIFF,SPC,1.867099e+05,1753.659661,"POLYGON ((-79.53958 40.76053, -79.53611 40.762...",30423,BORO,FORD CLIFF BORO,30423-ARMSTRONG
1680,1215456,0.0,BORO,44,MIFFLIN,1899-11-30,00:00:00.000,440273,02,1,...,402,KISTLER,SEDA-COG,6.638380e+05,3740.371371,"POLYGON ((-77.86832 40.37592, -77.86897 40.376...",440273,BORO,KISTLER BORO,440273-MIFFLIN
1793,1216689,0.0,1TWP,39,LEHIGH,1899-11-30,00:00:00.000,390304,05,4,...,104,LOWER MACUNGIE,Lehigh Valley,5.875987e+07,48207.051166,"POLYGON ((-75.58984 40.48466, -75.59881 40.490...",390304,TWP,LOWER MACUNGIE TWP,390304-LEHIGH
1873,1217326,0.0,BORO,26,FAYETTE,1899-11-30,00:00:00.000,561143,12,1,...,430,SEVEN SPRINGS,SPC,3.715463e+05,3554.556400,"POLYGON ((-79.30498 40.02514, -79.30519 40.025...",561143,BORO,SEVEN SPRINGS BORO,561143-FAYETTE
1955,1215305,0.0,BORO,33,JEFFERSON,1899-11-30,00:00:00.000,330843,10,1,...,410,TIMBLIN,North Central,2.482054e+06,7474.601237,"POLYGON ((-79.21281 40.96078, -79.21278 40.961...",330843,BORO,TIMBLIN BORO,330843-JEFFERSON
2111,1217325,0.0,BORO,28,FRANKLIN,1899-11-30,00:00:00.000,210663,08,2,...,409,SHIPPENSBURG,Franklin,1.855193e+06,9771.546272,"MULTIPOLYGON (((-77.52632 40.04572, -77.52860 ...",210663,BORO,SHIPPENSBURG BORO,210663-FRANKLIN
2121,1216537,0.0,2TWP,32,INDIANA,1899-11-30,00:00:00.000,320275,10,1,...,207,CANOE,SPC,7.234781e+07,37397.354027,"POLYGON ((-78.99427 40.82098, -78.99371 40.836...",320275,TWP,CANOE TWP,320275-INDIANA
2122,1214902,0.0,BORO,05,BEDFORD,1899-11-30,00:00:00.000,050783,09,1,...,408,PLEASANTVILLE,Southern Alleghenies,1.832440e+05,1861.289953,"POLYGON ((-78.61163 40.17721, -78.61206 40.177...",50783,BORO,PLEASANTVILLE BORO,50783-BEDFORD
2263,1217319,0.0,BORO,06,BERKS,1899-11-30,00:00:00.000,360033,05,4,...,440,ADAMSTOWN,Reading,4.143099e+04,1086.841594,"POLYGON ((-76.04863 40.25010, -76.04566 40.249...",360033,BORO,ADAMSTOWN BORO,360033-BERKS
2299,1217330,0.0,CITY,39,LEHIGH,1899-11-30,00:00:00.000,480122,05,3,...,302,BETHLEHEM,Lehigh Valley,1.144643e+07,16305.249852,"POLYGON ((-75.42394 40.63620, -75.42519 40.637...",480122,CITY,BETHLEHEM CITY,480122-LEHIGH
2439,1214870,0.0,BORO,04,BEAVER,1899-11-30,00:00:00.000,040513,11,4,...,410,EASTVALE,SPC,3.395242e+05,3245.191562,"POLYGON ((-80.31785 40.77210, -80.31781 40.772...",40513,BORO,EASTVALE BORO,40513-BEAVER
2469,1217321,0.0,BORO,09,BUCKS,1899-11-30,00:00:00.000,461353,06,4,...,430,TELFORD,DVRPC,1.375326e+06,6247.191932,"POLYGON ((-75.31615 40.33109, -75.31717 40.330...",461353,BORO,TELFORD BORO,461353-BUCKS
2470,1216695,0.0,1TWP,39,LEHIGH,1899-11-30,00:00:00.000,390544,05,4,...,103,SOUTH WHITEHALL,Lehigh Valley,4.486845e+07,43708.553217,"POLYGON ((-75.61674 40.62178, -75.52937 40.654...",390544,TWP,SOUTH WHITEHALL TWP,390544-LEHIGH
2552,1215982,0.0,2TWP,08,BRADFORD,1899-11-30,00:00:00.000,080485,03,1,...,212,LEROY,Northern Tier,1.153692e+08,45155.047044,"POLYGON ((-76.78443 41.67588, -76.66461 41.702...",80485,TWP,LEROY TWP,80485-BRADFORD
2555,1217320,0.0,BORO,07,BLAIR,1899-11-30,00:00:00.000,111683,09,2,...,409,TUNNELHILL,Altoona,9.200125e+05,5507.279029,"POLYGON ((-78.54416 40.48253, -78.54430 40.482...",111683,BORO,TUNNELHILL BORO,111683-BLAIR

In [248]:
t_and_po[t_and_po.id2.str.contains("TUNN",na=False)]

Empty DataFrame
Columns: [municipality_id, av_t_10yr, std_t_10yr, median_t_10yr, most_t_10yr, av_10yr, std_10yr, median_10yr, most_10yr, av_5yr, std_5yr, median_5yr, most_5yr, av_t_5yr, std_t_5yr, median_t_5yr, most_t_5yr, municipality_name, county_name, id1, id2]
Index: []

[0 rows x 21 columns]

In [189]:
map1['id2']=map1.id1.astype(str)+"-"+map1.county_nam

In [190]:
t_and_po['id2']=t_and_po.municipality_id.astype(str)+"-"+t_and_po.county_name

In [192]:
map1[~map1.id2.isin(t_and_po.id2)]

,ansi_code,area,class_of_m,county,county_nam,date_date_,time_date_,dced_id,district_n,fed_aid_ur,...,municipal,municipal1,planning_p,shape_area,shape_leng,geometry,id1,class_type,muni_name,id2
31,1216987,0.0,2TWP,52,POTTER,2018-03-09,00:00:00.000,530845,02,1,...,222,SYLVANIA,North Central,7.683267e+07,35138.805509,"POLYGON ((-78.06938 41.62378, -78.06889 41.650...",530845,TWP,SYLVANIA TWP,530845-POTTER
130,1215559,0.0,BORO,53,SCHUYLKILL,1899-11-30,00:00:00.000,541023,05,1,...,417,NEW PHILADELPHIA,NEPA,3.949985e+06,9117.794835,"POLYGON ((-76.10892 40.71258, -76.12172 40.709...",541023,BORO,NEW PHILADELPHIA BORO,541023-SCHUYLKILL
147,1215552,0.0,BORO,53,SCHUYLKILL,1899-11-30,00:00:00.000,540753,05,2,...,410,LANDINGVILLE,NEPA,2.163360e+06,7218.997016,"POLYGON ((-76.12154 40.61999, -76.12298 40.621...",540753,BORO,LANDINGVILLE BORO,540753-SCHUYLKILL
160,1216278,0.0,2TWP,19,COLUMBIA,1899-11-30,00:00:00.000,190365,03,2,...,206,CONYNGHAM,SEDA-COG,5.335051e+07,33249.509283,"POLYGON ((-76.41159 40.84294, -76.41017 40.842...",190365,TWP,CONYNGHAM TWP,190365-COLUMBIA
439,1217318,0.0,BORO,02,ALLEGHENY,1899-11-30,00:00:00.000,651683,11,4,...,491,TRAFFORD,SPC,5.467529e+05,7495.932332,"POLYGON ((-79.75094 40.38918, -79.75099 40.388...",651683,BORO,TRAFFORD BORO,651683-ALLEGHENY
465,1215556,0.0,BORO,53,SCHUYLKILL,1899-11-30,00:00:00.000,540903,05,1,...,414,MIDDLEPORT,NEPA,1.127371e+06,4274.510276,"POLYGON ((-76.09182 40.72225, -76.09527 40.730...",540903,BORO,MIDDLEPORT BORO,540903-SCHUYLKILL
496,1216384,0.0,1TWP,23,DELAWARE,1899-11-30,00:00:00.000,230664,06,4,...,104,LOWER CHICHESTER,DVRPC,2.762715e+06,8470.988459,"POLYGON ((-75.45462 39.82091, -75.44562 39.823...",230664,TWP,LOWER CHICHESTER TWP,230664-DELAWARE
505,1215128,0.0,BORO,19,COLUMBIA,1899-11-30,00:00:00.000,190813,03,3,...,408,ORANGEVILLE,SEDA-COG,1.021093e+06,5733.970041,"POLYGON ((-76.41554 41.08155, -76.41473 41.082...",190813,BORO,ORANGEVILLE BORO,190813-COLUMBIA
695,1216672,0.0,2TWP,38,LEBANON,1899-11-30,00:00:00.000,380125,08,1,...,202,COLD SPRING,Lebanon,5.247298e+07,38818.047019,"POLYGON ((-76.64436 40.45947, -76.64511 40.459...",380125,TWP,COLD SPRING TWP,380125-LEBANON
795,1215580,0.0,BORO,55,SOMERSET,1899-11-30,00:00:00.000,560033,09,1,...,401,ADDISON,Southern Alleghenies,1.510062e+06,6928.324735,"POLYGON ((-79.33018 39.73789, -79.33252 39.740...",560033,BORO,ADDISON BORO,560033-SOMERSET
847,1214872,0.0,BORO,04,BEAVER,1899-11-30,00:00:00.000,370093,11,2,...,440,ELLWOOD CITY,SPC,8.371391e+05,7665.063059,"POLYGON ((-80.29823 40.85350, -80.29010 40.853...",370093,BORO,ELLWOOD CITY BORO,370093-BEAVER
870,1214901,0.0,BORO,05,BEDFORD,1899-11-30,00:00:00.000,050753,09,1,...,407,NEW PARIS,Southern Alleghenies,1.510426e+05,2606.730342,"POLYGON ((-78.64596 40.10542, -78.64680 40.105...",50753,BORO,NEW PARIS BORO,50753-BEDFORD
973,1215000,0.0,BORO,10,BUTLER,1899-11-30,00:00:00.000,101293,10,1,...,415,PORTERSVILLE,SPC,2.224425e+06,8676.544030,"POLYGON ((-80.13878 40.92843, -80.13687 40.928...",101293,BORO,PORTERSVILLE BORO,101293-BUTLER
1075,1217324,0.0,BORO,17,CLEARFIELD,1899-11-30,00:00:00.000,330303,02,2,...,430,FALLS CREEK,North Central,8.224046e+04,1324.146334,"POLYGON ((-78.79947 41.14134, -78.79720 41.145...",330303,BORO,FALLS CREEK BORO,330303-CLEARFIELD
1186,1217317,0.0,BORO,02,ALLEGHENY,1899-11-30,00:00:00.000,631143,11,4,...,490,MCDONALD,SPC,5.091638e+05,4434.188042,"POLYGON ((-80.22282 40.37263, -80.22010 40.368...",631143,BORO,MCDONALD BORO,631143-ALLEGHENY
1474,1214850,0.0,BORO,03,ARMSTRONG,1899-11-30,00:00:00.000,030423,10,2,...,407,FORD CLIFF,SPC,1.867099e+05,1753.659661,"POLYGON ((-79.53958 40.76053, -79.53611 40.762...",30423,BORO,FORD CLIFF BORO,30423-ARMSTRONG
1680,1215456,0.0,BORO,44,MIFFLIN,1899-11-30,00:00:00.000,440273,02,1,...,402,KISTLER,SEDA-COG,6.638380e+05,3740.371371,"POLYGON ((-77.86832 40.37592, -77.86897 40.376...",440273,BORO,KISTLER BORO,440273-MIFFLIN
1793,1216689,0.0,1TWP,39,LEHIGH,1899-11-30,00:00:00.000,390304,05,4,...,104,LOWER MACUNGIE,Lehigh Valley,5.875987e+07,48207.051166,"POLYGON ((-75.58984 40.48466, -75.59881 40.490...",390304,TWP,LOWER MACUNGIE TWP,390304-LEHIGH
1873,1217326,0.0,BORO,26,FAYETTE,1899-11-30,00:00:00.000,561143,12,1,...,430,SEVEN SPRINGS,SPC,3.715463e+05,3554.556400,"POLYGON ((-79.30498 40.02514, -79.30519 40.025...",561143,BORO,SEVEN SPRINGS BORO,561143-FAYETTE
1955,1215305,0.0,BORO,33,JEFFERSON,1899-11-30,00:00:00.000,330843,10,1,...,410,TIMBLIN,North Central,2.482054e+06,7474.601237,"POLYGON ((-79.21281 40.96078, -79.21278 40.961...",330843,BORO,TIMBLIN BORO,330843-JEFFERSON
2111,1217325,0.0,BORO,28,FRANKLIN,1899-11-30,00:00:00.000,210663,08,2,...,409,SHIPPENSBURG,Franklin,1.855193e+06,9771.546272,"MULTIPOLYGON (((-77.52632 40.04572, -77.52860 ...",210663,BORO,SHIPPENSBURG BORO,210663-FRANKLIN
2121,1216537,0.0,2TWP,32,INDIANA,1899-11-30,00:00:00.000,320275,10,1,...,207,CANOE,SPC,7.234781e+07,37397.354027,"POLYGON ((-78.99427 40.82098, -78.99371 40.836...",320275,TWP,CANOE TWP,320275-INDIANA
2122,1214902,0.0,BORO,05,BEDFORD,1899-11-30,00:00:00.000,050783,09,1,...,408,PLEASANTVILLE,Southern Alleghenies,1.832440e+05,1861.289953,"POLYGON ((-78.61163 40.17721, -78.61206 40.177...",50783,BORO,PLEASANTVILLE BORO,50783-BEDFORD
2263,1217319,0.0,BORO,06,BERKS,1899-11-30,00:00:00.000,360033,05,4,...,440,ADAMSTOWN,Reading,4.143099e+04,1086.841594,"POLYGON ((-76.04863 40.25010, -76.04566 40.249...",360033,BORO,ADAMSTOWN BORO,360033-BERKS
2299,1217330,0.0,CITY,39,LEHIGH,1899-11-30,00:00:00.000,480122,05,3,...,302,BETHLEHEM,Lehigh Valley,1.144643e+07,16305.249852,"POLYGON ((-75.42394 40.63620, -75.42519 40.637...",480122,CITY,BETHLEHEM CITY,480122-LEHIGH
2439,1214870,0.0,BORO,04,BEAVER,1899-11-30,00:00:00.000,040513,11,4,...,410,EASTVALE,SPC,3.395242e+05,3245.191562,"POLYGON ((-80.31785 40.77210, -80.31781 40.772...",40513,BORO,EASTVALE BORO,40513-BEAVER
2469,1217321,0.0,BORO,09,BUCKS,1899-11-30,00:00:00.000,461353,06,4,...,430,TELFORD,DVRPC,1.375326e+06,6247.191932,"POLYGON ((-75.31615 40.33109, -75.31717 40.330...",461353,BORO,TELFORD BORO,461353-BUCKS
2470,1216695,0.0,1TWP,39,LEHIGH,1899-11-30,00:00:00.000,390544,05,4,...,103,SOUTH WHITEHALL,Lehigh Valley,4.486845e+07,43708.553217,"POLYGON ((-75.61674 40.62178, -75.52937 40.654...",390544,TWP,SOUTH WHITEHALL TWP,390544-LEHIGH
2552,1215982,0.0,2TWP,08,BRADFORD,1899-11-30,00:00:00.000,080485,03,1,...,212,LEROY,Northern Tier,1.153692e+08,45155.047044,"POLYGON ((-76.78443 41.67588, -76.66461 41.702...",80485,TWP,LEROY TWP,80485-BRADFORD
2555,1217320,0.0,BORO,07,BLAIR,1899-11-30,00:00:00.000,111683,09,2,...,409,TUNNELHILL,Altoona,9.200125e+05,5507.279029,"POLYGON ((-78.54416 40.48253, -78.54430 40.482...",111683,BORO,TUNNELHILL BORO,111683-BLAIR

In [200]:
t_and_po[t_and_po.municipality_name==("TIMBLIN BORO")]

Empty DataFrame
Columns: [municipality_id, av_t_10yr, std_t_10yr, median_t_10yr, most_t_10yr, av_10yr, std_10yr, median_10yr, most_10yr, av_5yr, std_5yr, median_5yr, most_5yr, av_t_5yr, std_t_5yr, median_t_5yr, most_t_5yr, municipality_name, county_name, id2]
Index: []

In [195]:
main_spending1[main_spending1.municipality_name.str.contains("TIMBLIN")]

,municipality_name,municipality_type,municipality_id,county_name,reporting_year,pending_approved,total_revenues,total_expenditures,revenues_over_expenditures,revenues,...,taxes_per_capita,revenues_per_capita,expenditures_per_capita,total_general_obligation_bonds_and_notes,total_revenue_bonds_and_notes,total_lease_rental_debt,total_other_debt,total_debt,total_principal_paid,fund_balance_retained_earnings_12_31
1328,TIMBLIN BORO,Borough,330843,JEFFERSON,2008,A,16059,27271,-11212,NaN,...,56.01,106.35,180.60,0,0,0,0,0,NaN,25183
1326,TIMBLIN BORO,Borough,330843,JEFFERSON,2009,A,15293,19511,-4218,NaN,...,54.11,101.28,129.21,0,0,0,0,0,NaN,25410
1329,TIMBLIN BORO,Borough,330843,JEFFERSON,2010,A,17636,14488,3148,NaN,...,58.45,112.33,92.28,0,0,0,0,0,NaN,25730
1335,TIMBLIN BORO,Borough,330843,JEFFERSON,2011,A,14739,11539,3200,NaN,...,45.37,93.88,73.50,0,0,0,0,0,NaN,28930

In [219]:
map1[map1.municipal1.str.contains('TUNNEL')]

,ansi_code,area,class_of_m,county,county_nam,date_date_,time_date_,dced_id,district_n,fed_aid_ur,...,municipal,municipal1,planning_p,shape_area,shape_leng,geometry,id1,class_type,muni_name,id2
1414,1217320,0.0,BORO,11,CAMBRIA,1899-11-30,00:00:00.000,111683,09,2,...,430,TUNNELHILL,Johnstown,600776.903713,4095.692292,"POLYGON ((-78.54110 40.47790, -78.54104 40.477...",111683,BORO,TUNNELHILL BORO,111683-CAMBRIA
2555,1217320,0.0,BORO,07,BLAIR,1899-11-30,00:00:00.000,111683,09,2,...,409,TUNNELHILL,Altoona,920012.525377,5507.279029,"POLYGON ((-78.54416 40.48253, -78.54430 40.482...",111683,BORO,TUNNELHILL BORO,111683-BLAIR